* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #373737;
}

a {
  color: #37ca69;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #4f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page__container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.container-full {
  width: 100%;
}

.container-90 {
  width: 90%;
}

.container-90,
.container-full{
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.flex-1 {
  flex: 1;
}

.shadow-lg-light {
  box-shadow: 0px 4px 12px -3px #ededed;
}

.shadow-sm-light {
  box-shadow: 0px 2px 8px -3px #ededed;
}

.bg-darker {
  background-color: #161616;
  color: #ededed;
}

.bg-dark {
  background-color: #373737;
}

.bg-light {
  background-color: white;
}


nav, footer {
  background-color: #ed6937;
  color: #ededed;
  width: 100%;
  padding: .5rem;
}